# H1 Datascience ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popular languages that Data Scientists use are:

# Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

# objective
* first
* second
* third

# Some of the commonly used libraries used by Data Scientists include: Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

## Execute as a markdown cell

| Country Name | Capital |
| -------------| ------ |
| United States | Washington DC |
| Australia | Canberra |
| India | New Delhi |

### H3 Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# simply arithematic
(3*4)+5

17

In [2]:
# the code will convert 200min to hours by dividing by 60
200/60

3.3333333333333335